<!--
 * @description: 
 * @author: 小康
 * @url: https://xiaokang.me
 * @Date: 2021-05-16 09:43:33
 * @LastEditTime: 2021-05-17 23:55:48
 * @LastEditors: 小康
-->
<template>这里是about11</template>

<script setup>
import { onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
const route = useRoute()
onMounted(() => {
  console.log('mounted')
  console.log(route.params, 'params')
})
</script>

<style>
</style>