<!--
 * @description: 
 * @author: 小康
 * @url: https://xiaokang.me
 * @Date: 2021-05-16 09:43:33
 * @LastEditTime: 2021-05-16 15:18:57
 * @LastEditors: 小康
-->
<template>
  <p>这里是home页面</p>
  <p>当前mynumber变量的值为:{{ count.mynumber }}</p>
  <p>当前vuex中count的值为:{{ store.state.count }}</p>
  <p>下面是子组件视图</p>
  <HelloWorld ref="hello" :msg="msg" @foo-click="fooClick" />
</template>

<script setup>
// import { ElMessage } from 'element-plus';
import HelloWorld from '../components/HelloWorld.vue'
import { reactive, ref, onMounted, useContext, getCurrentInstance } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { useStore } from 'vuex'
const router = useRouter()
const route = useRoute()
const store = useStore()
const count = reactive({ mynumber: 0 })
const hello = ref(null)
const ctx = useContext()
const inCurrentInstance = getCurrentInstance()
const this_ = inCurrentInstance.appContext.config.globalProperties
// 定义常量
const msg = '小康你好'

// 子组件 触发 foo-click 事件时调用的函数
const fooClick = () => {
  // console.log();
  console.log(hello.value.getName(), 'foo')
  count.mynumber++
  store.commit('increment')
  console.log(inCurrentInstance.appContext.config.globalProperties)
  this_.$message.success(`监听子组件触发foo-click事件成功`)
}
// 挂载完成后运行的生命周期函数
onMounted(() => {
  console.log(route.query)
  this_.$message.success('获取query参数成功=>' + route.query.a)
  console.log('挂载完成')
})
</script>

<style>
</style>