<!--
 * @description: 使用vant组件的demo
 * @author: 小康
 * @url: https://xiaokang.me
 * @Date: 2021-05-16 15:57:38
 * @LastEditTime: 2021-05-17 23:56:10
 * @LastEditors: 小康
-->
<template>
  <van-button type="primary" @click="handClick">{{ buttonText }}</van-button>
  <div class="red">嘿嘿</div>
</template>

<script setup>
import { Toast } from 'vant'
const buttonText = '嘿嘿'
const handClick = () => {
  console.log(22)
  Toast('哈哈')
  console.log(111)
}
</script>

<style lang="stylus" scoped>
// 引入外部styl文件
@import '../style/vant/index.styl';
</style>