<template>
  <h1>{{ msg }}</h1>

  <div class="container">
    <div class="text">
      <p>计算属性:{{ computedCount }}</p>
      <p>监听器：{{ state.number }}</p>
      <el-button type="info" @click="handClick">ElementUI按钮组件</el-button>
    </div>
  </div>
</template>

<script setup>
import {
  defineProps,
  defineEmit,
  reactive,
  useContext,
  computed,
  watch
} from 'vue';

defineProps({
  msg: String
});

const state = reactive({ count: 0, number: 0 });

const emit = defineEmit(['foo-click']);

const ctx = useContext();
console.log(ctx, 'ctx');
ctx.expose({
  getName() {
    return 'HelloWorld';
  }
});
const handClick = () => {
  state.count++;
  emit('foo-click');
};
// 计算属性
const computedCount = computed(() => {
  return state.count + 1;
});
// 侦听器
const number = watch(
  () => state.count,
  (count, prevCount) => {
    console.log(count, prevCount);
    state.number += 10;
  }
);
</script>

<style scoped lang='scss'>
a {
  color: #42b983;
}
.container {
  .text {
    color: rebeccapurple;
  }
}
</style>
