<template>
  <img
    alt="avatar"
    src="https://cdn.jsdelivr.net/npm/kang-static@latest/avatar.jpg"
    class="avatar"
  />
  <div class="nav">
    <!-- url会显示 -->
    <el-button @click="routingGo({ name: 'home', query: { a: 1 } })"
      >Go to Home</el-button
    >
    <!-- url不会显示 -->
    <el-button @click="routingGo({ name: 'about', params: { a: 1 } })"
      >Go to About</el-button
    >
    <el-button @click="routingGo({ name: 'vant', params: { a: 1 } })"
      >Go to Vant</el-button
    >
  </div>
  <router-view></router-view>
</template>

<script setup>
// This starter template is using Vue 3 experimental <script setup> SFCs
// Check out https://github.com/vuejs/rfcs/blob/script-setup-2/active-rfcs/0000-script-setup.md

import { useRoute, useRouter } from 'vue-router'
const router = useRouter()
// 路由跳转
const routingGo = (obj) => {
  router.push(obj)
}
</script>

<style lang='scss'>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.avatar {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
</style>
