<!--
 * @description: pay页面
 * @author: 小康
 * @url: https://xiaokang.me
 * @Date: 2021-05-16 23:18:42
 * @LastEditTime: 2021-05-16 23:18:58
 * @LastEditors: 小康
-->
<template> 这里是pay页面 </template>

<script>
export default {}
</script>

<style>
</style>